body {
  background: url(Upside-Down_Face.png) repeat;
  background-size: 150px 150px;
  background-color: rgb(252, 229, 129);
}

#content {
  margin: auto;
  width: 90%;
  padding: 20px;
}

.bar {
  background-color: black;
  height: 100px;
}
/* 
title {
  text-align: center;
  padding: 10px;
  float: left;
} */

#header {
  font-family: "Changa One", cursive;
  font-size: xx-large;
  color: rgb(243, 222, 64);
  float: left;
  padding-top: 30px;
  padding-left: 20px;
  display: inline;
}

#logo-l,
#logo-r {
  width: 50px;
  float: left;
  padding-top: 20px;
  padding-left: 30px;
}
#move {
  margin-left: 750px;
  margin-top: 2%;
  margin-bottom: 5%;
}
#button {
  margin-left: 500px;
}
#last-search {
  margin-top: 2%;
  margin-left: 40%;
}
.theJoke {
  margin-left: 40%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.restart {
  margin-left: 40%;
}
