body {
  background: url(Upside-Down_Face.png) repeat;
  background-size: 150px 150px;
  background-color: rgb(252, 229, 129);
}

section {
  margin: auto;
  width: 80%;
  height: 100%;
  padding: 20px;
  background-color: rgb(253, 240, 180);
  border-color: rgb(97, 61, 19);
  display: block;
}

.bar {
  background-color: black;
  height: 100px;
}
/* 
title {
  text-align: center;
  padding: 10px;
  float: left;
} */

#header {
  font-family: "Changa One", cursive;
  font-size: xx-large;
  color: rgb(243, 222, 64);
  float: left;
  padding-top: 30px;
  padding-left: 20px;
}

#logo-l,
#logo-r {
  width: 50px;
  float: left;
  padding-top: 20px;
  padding-left: 30px;
}
#move {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  width: 40%;
}
#button {
  margin-left: 25%;
}
#gifDesign {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
#last-search {
  margin-top: 2%;
  margin-left: 40%;
}
.theJoke {
  margin-left: 40%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.restart {
  margin-left: 40%;
}
